# Trusted setup files
*.ptau
pot12_*.ptau
# Circuit compilation outputs
*.r1cs
*.sym

# Witness files
*.wtns

# # Node modules
node_modules/
package-lock.json

# Build artifacts
build/
dist/

# System files
.DS_Store
*.log

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.local
